/* 필요한 reset css 정의 */
body{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
p, ul {
  margin: 0;
  padding: 0;
}

input, button {
  outline: none;
  border: 0;
}

button {
  background: transparent;
  border: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}